<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>400 - Bad Request</title>
    <link rel="stylesheet" th:href="@{/template/default/error/error.css}" href="error.css"/>
</head>
<body>

<!-- HEADER -->
<header class="header">
    <img class="logo"
         th:src="@{/template/default/error/img/logo.png}"
         src="img/logo-fintech.png"
         alt="FINTECH Logo"/>
</header>

<!-- MAIN CONTENT -->
<main class="main-content">
    <!-- Background image -->
    <img class="bg-image"
         th:src="@{${errorImg}}"
         alt=""/>
</main>

<!-- FOOTER -->
<footer class="footer">
    <p>Bản quyền thuộc về Đại học Bách khoa Hà Nội.</p>
</footer>

<script th:src="@{/template/default/error/error.js}" src="error.js"></script>
</body>
</html>